body {
  font-family: 'Arial', sans-serif;
  background-image: url("polynesia-wallpaper-1680x1050.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(232, 226, 226);
}

h1 {
  
  text-align:left;
  font-family: 'Arial', sans-serif;
  font-style:oblique;
  text-decoration: underline;
} 


h2 {
  color: rgb(241, 231, 231);
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  text-decoration: underline;
} 

h3 {
  color: rgb(240, 231, 231);
  text-align: left;
  font-family: 'Verdana', sans-serif;
  font-style: oblique;
  text-decoration: underline;
}


 a{
    text-decoration: underline;
    color: rgb(232, 226, 226);
    padding: 20px 50px;
 }  

 nav{
    text-decoration: solid;
    background-color: rgb(17, 16, 16);
    margin: 15px 0;
    height: 35px;
}

  body.fade-out {
    opacity: 0;  /* fully transparent */
    transition: opacity 1s ease-out;
  }

    .content-box {
    background: rgba(0, 0, 0, 0.5); /* 0.5 = transparency */
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
}
